
#<RP Default Gitignore Start>
*.pyc
*.bak
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
*.un~
*.gstmp
*.ipynb_checkpoints
*.DS_Store
#<RP Default Gitignore End>

diffsynth.egg-info
wan_gwtf_test__deg=1__steps=20__T=49.mp4
data/example_video_dataset
examples/wanvideo/model_inference/models/Wan-AI
huggingface_models/Wan2.2-I2V-A14B
models/Wan-AI
video1.mp4
models/train/old
models/train/Wan2.2-I2V-A14B_high_noise_lora
models/train/Wan2.2-I2V-A14B_low_noise_lora
data/WEB360_Video_Dataset/WEB360
models/train
untracked
scratchpad.py
.session.vim
cat_climbing_down_tree.mp4
cat_climbing_down_tree_480×832×49_CFG5.0_N50_D0.75.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=.5>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=.5>_copy.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=.75>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=.75>_copy.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=0>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=1>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=1>_copy.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,S=42,D=0,HI=2000,LO=12000>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,S=42,D=0,HI=2250,LO=2250>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=50,D=1>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=50,S=42,D=.5,CP=>.mp4
cat_climbing_down_tree_copy.mp4
cat_climbing_down_tree_copy1.mp4
cat_climbing_down_tree_copy2.mp4
cat_climbing_down_tree_copy3.mp4
ryan_assets/test_inputs/cat_tree/cut_and_drag_cat_480x832
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=.01,HI=1250,LO=1250,NAME=FromScratch>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=.01,HI=1500,LO=1500,NAME=Debug1>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=.01,HI=2000,LO=2000>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=.01,HI=2250,LO=2250>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=.01,HI=250,LO=250>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=.01,HI=2500,LO=2500>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=.01,HI=3000,LO=3000>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=.01,HI=500,LO=500,NAME=FromScratch>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=.5,HI=2000,LO=2000,NAME=Debug2>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=.6,HI=2000,LO=2000,NAME=Debug2>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=.6,HI=6750,LO=6750,NAME=<LR=1e-5>>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=.6,HI=6750,LO=6750,NAME=<LR=1e-5>>_copy.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=.75,HI=6750,LO=6750,NAME=<LR=1e-5>>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=0,HI=1000,LO=1000>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=0,HI=250,LO=250>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=1,HI=2000,LO=2000>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=25,S=42,D=1,HI=250,LO=250>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=50,S=42,D=.5,HI=4000,LO=4000>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=50,S=42,D=.5,HI=6750,LO=6750,NAME=<LR=1e-5>>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=50,S=42,D=.5,HI=6750,LO=6750,NAME=<LR=1e-5>>_copy.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=50,S=42,D=.7,HI=6750,LO=6750,NAME=<LR=1e-5>>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=50,S=42,D=0,HI=250,LO=250>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=50,S=42,D=0,HI=4000,LO=4000>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=50,S=42,D=1,HI=250,LO=250>.mp4
cat_climbing_down_tree_<480×832×81,CFG=5,N=20,S=42,D=.5,HI=6750,LO=6750,NAME=<LR=1e-5>>.mp4
cat_climbing_down_tree_NOLORA<480×832×49,CFG=5,N=25,S=42,D=.01,HI=1500,LO=1500,NAME=Debug1>.mp4
cat_climbing_down_tree_copy4.mp4
cat_climbing_down_tree_copy5.mp4
7color_checkpoint-30000.zip
huggingface_models/Wan2.2-I2V-A14B_high_noise_loraGWTF_Dev_FromScratch
test_noise_warpings/cat_off_tree_input_video_480x832/visualization_images
test_noise_warpings/cut_and_drag_cat_480x832/visualization_images
test_noise_warpings/cut_and_drag_doggy_butterfly_480x832/visualization_images
test_noise_warpings/inference.py
test_noise_warpings/cat-climbing-in-the-tree-compressed.jpg_copy1.mp4
test_noise_warpings/cut_and_drag_doggy_butterfly_480x832/noise_video.mp4
test_noise_warpings/cut_and_drag_doggy_butterfly_480x832/flows_dxdy.npy
test_noise_warpings/cut_and_drag_cat_480x832/noise_video.mp4
test_noise_warpings/cut_and_drag_cat_480x832/flows_dxdy.npy
test_noise_warpings/cat_off_tree_input_video_480x832/flows_dxdy.npy
test_noise_warpings/cat_off_tree_input_video_480x832/noise_video.mp4
test_noise_warpings/video.mp4
test_noise_warpings/video_copy.mp4
test_noise_warpings/video_copy1.mp4
test_noise_warpings/video_copy2.mp4
test_noise_warpings/video_copy3.mp4
test_noise_warpings/video_copy4.mp4
test_noise_warpings/wan_gwtf_test__deg=0.5__steps=20__T=49.mp4
test_noise_warpings/wan_gwtf_test__deg=0.5__steps=30__T=49.mp4
test_noise_warpings/wan_gwtf_test__deg=0.75__steps=20__T=49.mp4
test_noise_warpings/wan_gwtf_test__deg=0__steps=20__T=49.mp4
doggy_butterfly_<480×832×49,CFG=5,N=25,S=42,D=.5,HI=6750,LO=6750,NAME=<LR=1e-5>>.mp4
doggy_butterfly_<480×832×49,CFG=5,N=25,S=42,D=.6,HI=6750,LO=6750,NAME=<LR=1e-5>>.mp4
doggy_butterfly.mp4
test_noise_warpings/cat_off_tree_input_video_480x832_480p
test_noise_warpings/corgi_cutanddrag_81f_480p_480x832
test_noise_warpings/corgi_cutanddrag_81f_480p_480x832_copy
cat_climbing_down_tree_<480×832×81,CFG=5,N=25,S=41,D=.5,HI=1250,LO=1250,NAME=Deepspeed_<T=81>>.mp4
cat_climbing_down_tree_<480×832×81,CFG=5,N=25,S=42,D=.6,HI=1250,LO=1250,NAME=Deepspeed_<T=81>>.mp4
cat_climbing_down_tree_<480×832×81,CFG=5,N=25,S=43,D=.5,HI=1250,LO=1250,NAME=Deepspeed_<T=81>>.mp4
cat_off_tree_input_video_480x832_<480×832×81,CFG=5,N=10,S=41,D=.4,HI=1250,LO=1250,CP=Deepspeed_<T=81>>.mp4
corgi_cutanddrag_81f_480p_<480×832×81,CFG=5,N=10,S=41,D=.3,HI=1750,LO=1750,CP=Deepspeed_<T=81>>.mp4
corgi_cutanddrag_81f_480p_<480×832×81,CFG=5,N=10,S=41,D=.5,HI=1750,LO=1750,CP=Deepspeed_<T=81>>.mp4
doggy_butterfly_<480×832×49,CFG=5,N=50,S=42,D=.5,HI=6750,LO=6750,NAME=<LR=1e-5>>.mp4
doggy_butterfly_<480×832×49,CFG=5,N=50,S=43,D=.5,HI=6750,LO=6750,NAME=<LR=1e-5>>.mp4
doggy_butterfly_<480×832×81,CFG=5,N=25,S=41,D=.4,HI=1250,LO=1250,NAME=Deepspeed_<T=81>>.mp4
doggy_butterfly_<480×832×81,CFG=5,N=25,S=43,D=.5,HI=1000,LO=1000,NAME=Deepspeed_<T=81>>.mp4
test_noise_warpings/Teddy-Bear-Day-1200x834_480x832/visualization_images
test_noise_warpings/astronaut_floating_480x832/visualization_images
test_noise_warpings/better_beagle_480x832/visualization_images
test_noise_warpings/camera_normals_vis2_480x832/visualization_images
test_noise_warpings/cat_kiss_chick_v3_480x832/visualization_images
test_noise_warpings/cat_off_tree_input_video_480x832_480x832/visualization_images
test_noise_warpings/counter_tracking_frames/visualization_images
test_noise_warpings/dandelion_2_480x832/visualization_images
test_noise_warpings/doggy_butterfly_480x832/visualization_images
test_noise_warpings/doggy_butterfly_headmove_480x832/visualization_images
test_noise_warpings/drawing_red_line_480x832/visualization_images
test_noise_warpings/duck-in-a-bath_480x832/visualization_images/visual_00000.png
test_noise_warpings/duck-in-a-bath_480x832/visualization_images

*/*/visualization_images
./*.mp4

output_mp4s
test_noise_warpings
cat_off_tree_input_video_480x832.png
