
#<RP Default Gitignore Start>
*.pyc
*.bak
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
*.un~
*.gstmp
*.ipynb_checkpoints
*.DS_Store
#<RP Default Gitignore End>

diffsynth.egg-info
wan_gwtf_test__deg=1__steps=20__T=49.mp4
data/example_video_dataset
examples/wanvideo/model_inference/models/Wan-AI
huggingface_models/Wan2.2-I2V-A14B
models/Wan-AI
video1.mp4
models/train/old
models/train/Wan2.2-I2V-A14B_high_noise_lora
models/train/Wan2.2-I2V-A14B_low_noise_lora
data/WEB360_Video_Dataset/WEB360
models/train
untracked
scratchpad.py
.session.vim
cat_climbing_down_tree.mp4
cat_climbing_down_tree_480×832×49_CFG5.0_N50_D0.75.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=.5>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=.5>_copy.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=.75>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=.75>_copy.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=0>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=1>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,D=1>_copy.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,S=42,D=0,HI=2000,LO=12000>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=20,S=42,D=0,HI=2250,LO=2250>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=50,D=1>.mp4
cat_climbing_down_tree_<480×832×49,CFG=5,N=50,S=42,D=.5,CP=>.mp4
cat_climbing_down_tree_copy.mp4
cat_climbing_down_tree_copy1.mp4
cat_climbing_down_tree_copy2.mp4
cat_climbing_down_tree_copy3.mp4
